In [1]:
import sys
sys.path.append("/home/graeme")
sys.path.append("/home/graeme/ElexonDataManager/ElexonDataManager")

In [24]:
import psycopg2
import pandas as pd
import datetime as dt
import gzip
import numpy as np
import pytz
import math
from tqdm import tqdm_notebook
#from ElexonDataManager.BMRA.management.commands import _upload_functions as uf
#from ElexonDataManager.BMRA.management.commands import _download_functions as df
from ElexonDataManager.ElexonDataManager.settings import DATABASES
from ElexonDataManager.ElexonDataManager.utils import dt_to_sp

In [3]:
start_date, end_date = dt.date(2017,1,1), dt.date(2019,7,17)
transition_days = [dt.date(x.year, x.month, x.day) for x in pytz.timezone('Europe/London')._utc_transition_times]

blank_df = pd.DataFrame(columns = ['sd', 'sp'])
curr_date = start_date
while curr_date <= end_date:
    curr_sp = 1
    if curr_date in transition_days[::2]:
        max_sp = 46
    elif curr_date in transition_days[1::2]:
        max_sp = 50
    else:
        max_sp = 48
    while curr_sp <= max_sp:
        new_data = pd.DataFrame([[curr_date, curr_sp]], columns = ['sd', 'sp'])
        blank_df = blank_df.append(new_data)
        curr_sp += 1
    curr_date += dt.timedelta(days=1)
    
blank_df = blank_df.set_index(['sd', 'sp'])

In [4]:
P114_df = pd.read_csv('/home/graeme/Downloads/C0421_scotland_df.csv')

In [5]:
bmus = pd.read_csv('/home/graeme/ElexonDataManager/Physical/unit_data/reg_bm_units.csv')

In [6]:
gsp_groups = ['SCOTLAND', 'NORTH of SCOTLAND GSP', 'SOUTH of SCOTLAND GSP']
bmu_ids = list(bmus[bmus['GSP Group Name'].isin(gsp_groups)][~bmus['BM Unit ID'].str.contains('__')]['BM Unit ID'])
for bmu_id in bmu_ids:
    blank_df[bmu_id] = np.nan

/home/graeme/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [7]:
conn = psycopg2.connect("dbname='ElexonData' user={} host={} password={}".format(DATABASES['default']['USER'],
                                                                                DATABASES['default']['HOST'],
                                                                                DATABASES['default']['PASSWORD']))
cur = conn.cursor()

In [8]:
combined_BAVs = blank_df.copy()

bav_query = 'SELECT sd, sp, sum(bmra_boav.bv) \
FROM public.bmra_boav \
where bmra_boav.bmu_id=\'%s\' \
group by sd, sp \
order by sd, sp'

for bmu_id in bmu_ids:
    sql_df = pd.read_sql(bav_query % bmu_id, conn)
    sql_df = sql_df.set_index(['sd', 'sp'])
    combined_BAVs[bmu_id] = sql_df

#combined_BAVs.to_csv('~/scotgov_analysis_190718/BAVs.csv')

In [25]:
combined_OAVs = blank_df.copy()

oav_query = 'SELECT sd, sp, sum(bmra_boav.ov) \
FROM public.bmra_boav \
where bmra_boav.bmu_id=\'%s\' \
group by sd, sp \
order by sd, sp'

for bmu_id in bmu_ids:
    sql_df = pd.read_sql(oav_query % bmu_id, conn)
    sql_df = sql_df.set_index(['sd', 'sp'])
    combined_OAVs[bmu_id] = sql_df

combined_OAVs.to_csv('~/scotgov_analysis_190718/OAVs.csv')

In [13]:
combined_FPNs = blank_df.copy()

query = 'SELECT sd, sp, bmra_fpnlevel.ts, vp \
FROM public.bmra_fpnlevel \
left join public.bmra_fpn \
on bmra_fpnlevel.fpn_id = bmra_fpn.id \
where bmra_fpn.bmu_id=\'%s\' \
order by sd, sp, bmra_fpnlevel.ts'

for bmu_id in bmu_ids:
    bmu_fpns = []
    print(bmu_id)
    df = pd.read_sql(query % bmu_id, conn)
    prev_SD, prev_SP, prev_VP, prev_TS = None, None, None, None
    total_mwh = 0.0
    for key, values in df.iterrows():
        SD, SP, TS, VP = values['sd'], values['sp'], values['ts'], values['vp']
        if SD==prev_SD and SP==prev_SP: 
            time_diff = (TS - prev_TS).total_seconds() / 3600.0
            total_mwh += (prev_VP * time_diff + (0.5 * (VP - prev_VP) * time_diff))
        elif prev_SD is not None and prev_SP is not None:
            bmu_fpns.append([dt.date(prev_SD.year,prev_SD.month,prev_SD.day),prev_SP,total_mwh])
            total_mwh = 0.0
        prev_SD, prev_SP, prev_VP, prev_TS = SD, SP, VP, TS
    new_data = pd.DataFrame(bmu_fpns, columns=['sd', 'sp', bmu_id])
    new_data = new_data.set_index(['sd', 'sp'])
    combined_FPNs.update(new_data)
    
combined_FPNs.to_csv('~/scotgov_analysis_190718/FPNs.csv')

E_ABRTW-1
E_AIRSW-1
E_ASHWW-1
E_ASLVW-1
E_BABAW-1
E_BETHW-1
E_BNWKW-1
E_BRDUW-1
E_BRNLW-1
E_BROXES-1
E_BRYBW-1
E_BTUIW-2
E_CLAC-1
E_CLDRW-1
E_CLFLW-1
E_CNCLW-1
E_CRGTW-1
E_DALSW-1
E_FASN-3
E_FASN-4
E_GDSTW-1
E_GLCHW-1
E_GLNDOD1
E_GLOFW-1
E_HBHDW-1
E_HLGLW-1
E_HLTWW-1
E_HRHLW-1
E_HUNB-11S
E_HYWDW-1
E_KINCW-1
E_MARK-1
E_MINSW-1
E_MOYEW-1
E_TLYMW-1
E_TULWW-1
E_TULWW-2
M_CAS-BEU01
M_CAS-CLU01
M_CAS-CON01
M_CAS-GAR01
M_CAS-KIL01
M_CAS-MOR01
M_SLOY-1
M_SLOY-4
T_ABRBO-1
T_ACHRW-1
T_AFTOW-1
T_ANSUW-1
T_ARCHW-1
T_BDCHW-1
T_BEATD-1
T_BEATO-1
T_BEATO-2
T_BEATO-3
T_BEATO-4
T_BEINW-1
T_BHLAW-1
T_BLKWW-1
T_BLLA-1
T_BLLA-2
T_BPGRD-1
T_BPGRD-2
T_CGTHW-1
T_CLACD-1
T_CLDCW-1
T_CLDNW-1
T_CLDSW-1
T_COCK-1
T_COCK-2
T_COCK-3
T_COCK-4
T_COCKD-1
T_COUWW-1
T_CRGHD-1
T_CRGHW-1
T_CRMLD-1
T_CRMLW-1
T_CRUA-1
T_CRUA-2
T_CRUA-3
T_CRUA-4
T_CRUAD-1
T_CRYRD-2
T_CRYRW-2
T_CRYRW-3
T_DEAND-1
T_DNLWW-1
T_DOREW-1
T_DOREW-2
T_DRSLW-1
T_DUNGW-1
T_EDINW-1
T_ERRO-1
T_ERRO-2
T_ERRO-3
T_EWHLW-1
T_FALGD-1
T_FALGW-1
T_FARR-1
T_FARR-2
T_FASN-1
T_FASN-2
T_FINL-1
T_FOYE-1
T_FOYE-2
T_FOYED-1
T_FSDLW-1
T_GLEND-1
T_GLNDO-1
T_GLNDOD1
T_GLWSW-1
T_GNAPW-1
T_GORDD-1
T_GORDW-1
T_GRIFW-1
T_GRIFW-2
T_GRIFWD-1
T_GRMO-1
T_HADHW-1
T_HRSTW-1
T_HUNB-7
T_HUNB-8
T_HUNB-D
T_INGAD-1
T_KILBWD-1
T_KLGLW-1
T_KPMRW-1
T_KTHLW-1
T_LCLTW-1
T_LOAN-1
T_LOAN-2
T_LOAN-3
T_LOAN-4
T_LOAND-1
T_LOAND-2
T_LUICD-1
T_MEADD-1
T_MIDMW-1
T_MILWW-1
T_MILWWD-1
T_MKHLW-1
T_MYGPW-1
T_NANT-1
T_PEHE-1
T_PEHE-2
T_PEHED-1
T_PGBIW-1
T_SANQD-1
T_SANQW-1
T_SFGSD-1
T_SFGSD-2
T_SFILD-1
T_SLOY-2
T_SLOY-3
T_SLOYD-1
T_STFERGD-1
T_STLGW-1
T_STLGW-2
T_STLGW-3
T_STRNW-1
T_TORN-1
T_TORN-2
T_TORN-D
T_WHILW-1
T_WHILW-2

In [16]:
combined_FPNs[combined_FPNs.sum(axis=1) == 0]

Empty DataFrame
Columns: [E_ABRTW-1, E_AIRSW-1, E_ASHWW-1, E_ASLVW-1, E_BABAW-1, E_BETHW-1, E_BNWKW-1, E_BRDUW-1, E_BRNLW-1, E_BROXES-1, E_BRYBW-1, E_BTUIW-2, E_CLAC-1, E_CLDRW-1, E_CLFLW-1, E_CNCLW-1, E_CRGTW-1, E_DALSW-1, E_FASN-3, E_FASN-4, E_GDSTW-1, E_GLCHW-1, E_GLNDOD1, E_GLOFW-1, E_HBHDW-1, E_HLGLW-1, E_HLTWW-1, E_HRHLW-1, E_HUNB-11S, E_HYWDW-1, E_KINCW-1, E_MARK-1, E_MINSW-1, E_MOYEW-1, E_TLYMW-1, E_TULWW-1, E_TULWW-2, M_CAS-BEU01, M_CAS-CLU01, M_CAS-CON01, M_CAS-GAR01, M_CAS-KIL01, M_CAS-MOR01, M_SLOY-1, M_SLOY-4, T_ABRBO-1, T_ACHRW-1, T_AFTOW-1, T_ANSUW-1, T_ARCHW-1, T_BDCHW-1, T_BEATD-1, T_BEATO-1, T_BEATO-2, T_BEATO-3, T_BEATO-4, T_BEINW-1, T_BHLAW-1, T_BLKWW-1, T_BLLA-1, T_BLLA-2, T_BPGRD-1, T_BPGRD-2, T_CGTHW-1, T_CLACD-1, T_CLDCW-1, T_CLDNW-1, T_CLDSW-1, T_COCK-1, T_COCK-2, T_COCK-3, T_COCK-4, T_COCKD-1, T_COUWW-1, T_CRGHD-1, T_CRGHW-1, T_CRMLD-1, T_CRMLW-1, T_CRUA-1, T_CRUA-2, T_CRUA-3, T_CRUA-4, T_CRUAD-1, T_CRYRD-2, T_CRYRW-2, T_CRYRW-3, T_DEAND-1, T_DNLWW-1, T_DOREW-1, T_DOREW-2, T_DRSLW-1, T_DUNGW-1, T_EDINW-1, T_ERRO-1, T_ERRO-2, T_ERRO-3, T_EWHLW-1, T_FALGD-1, T_FALGW-1, T_FARR-1, ...]
Index: []

[0 rows x 166 columns]

In [28]:
combined_MELs = blank_df.copy()

query = 'SELECT bmra_mel.ts as tsr, sd, sp, bmra_mellevel.ts, ve \
FROM public.bmra_mellevel \
left join public.bmra_mel \
on bmra_mellevel.mel_id = bmra_mel.id \
where bmra_mel.bmu_id=\'%s\' \
order by sd, sp, bmra_mel.ts desc, bmra_mellevel.ts'

for bmu_id in tqdm_notebook(bmu_ids[:10], desc='total'):
    bmu_mels = []
    #print(bmu_id)
    df = pd.read_sql(query % bmu_id, conn)
    prev_SD, prev_SP, prev_VP, prev_TS, prev_TSR, last_msg_time = None, None, None, None, None, None
    total_mwh, total_time = 0.0, 0.0
    for key, values in tqdm_notebook(df.iterrows(), total=df.shape[0], desc=bmu_id):
        SD, SP, TS, VP, TSR = values['sd'], values['sp'], values['ts'], values['ve'], values['tsr']
        if SD==prev_SD and SP==prev_SP: 
            if TSR==last_msg_time: 
                time_diff = (TS - prev_TS).total_seconds() / 3600.0
                total_mwh += (prev_VP * time_diff + (0.5 * (VP - prev_VP) * time_diff))
                total_time += time_diff
        elif prev_SD is not None and prev_SP is not None:
            bmu_mels.append([dt.date(prev_SD.year,prev_SD.month,prev_SD.day),prev_SP,total_mwh])
            #if not math.isclose(0.5, total_time, rel_tol=1e-5):
            #    print(prev_SD, prev_SP)
            #    print('total time duration: {:+06.2f}'.format(total_time))
            total_mwh, total_time = 0.0, 0.0
            last_msg_time = values['tsr']
        prev_SD, prev_SP, prev_VP, prev_TS = SD, SP, VP, TS
    new_data = pd.DataFrame(bmu_mels, columns=['sd', 'sp', bmu_id])
    new_data = new_data.set_index(['sd', 'sp'])
    combined_MELs.update(new_data)
    

#combined_MELs.to_csv('~/scotgov_analysis_190718/MELs.csv')

HBox(children=(IntProgress(value=0, description='total', max=10, style=ProgressStyle(description_width='initia…

HBox(children=(IntProgress(value=0, description='E_ABRTW-1', max=84698, style=ProgressStyle(description_width=…

HBox(children=(IntProgress(value=0, description='E_AIRSW-1', max=83832, style=ProgressStyle(description_width=…

HBox(children=(IntProgress(value=0, description='E_ASHWW-1', max=95124, style=ProgressStyle(description_width=…

HBox(children=(IntProgress(value=0, description='E_ASLVW-1', max=104224, style=ProgressStyle(description_width…

HBox(children=(IntProgress(value=0, description='E_BABAW-1', max=160548, style=ProgressStyle(description_width…

HBox(children=(IntProgress(value=0, description='E_BETHW-1', max=161996, style=ProgressStyle(description_width…

HBox(children=(IntProgress(value=0, description='E_BNWKW-1', max=81628, style=ProgressStyle(description_width=…

HBox(children=(IntProgress(value=0, description='E_BRDUW-1', max=159782, style=ProgressStyle(description_width…

HBox(children=(IntProgress(value=0, description='E_BRNLW-1', max=80311, style=ProgressStyle(description_width=…

HBox(children=(IntProgress(value=1, bar_style='info', description='E_BROXES-1', max=1, style=ProgressStyle(des…

In [18]:
combined_MELs[combined_MELs.sum(axis=1) == 0]

Empty DataFrame
Columns: [E_ABRTW-1, E_AIRSW-1, E_ASHWW-1, E_ASLVW-1, E_BABAW-1, E_BETHW-1, E_BNWKW-1, E_BRDUW-1, E_BRNLW-1, E_BROXES-1, E_BRYBW-1, E_BTUIW-2, E_CLAC-1, E_CLDRW-1, E_CLFLW-1, E_CNCLW-1, E_CRGTW-1, E_DALSW-1, E_FASN-3, E_FASN-4, E_GDSTW-1, E_GLCHW-1, E_GLNDOD1, E_GLOFW-1, E_HBHDW-1, E_HLGLW-1, E_HLTWW-1, E_HRHLW-1, E_HUNB-11S, E_HYWDW-1, E_KINCW-1, E_MARK-1, E_MINSW-1, E_MOYEW-1, E_TLYMW-1, E_TULWW-1, E_TULWW-2, M_CAS-BEU01, M_CAS-CLU01, M_CAS-CON01, M_CAS-GAR01, M_CAS-KIL01, M_CAS-MOR01, M_SLOY-1, M_SLOY-4, T_ABRBO-1, T_ACHRW-1, T_AFTOW-1, T_ANSUW-1, T_ARCHW-1, T_BDCHW-1, T_BEATD-1, T_BEATO-1, T_BEATO-2, T_BEATO-3, T_BEATO-4, T_BEINW-1, T_BHLAW-1, T_BLKWW-1, T_BLLA-1, T_BLLA-2, T_BPGRD-1, T_BPGRD-2, T_CGTHW-1, T_CLACD-1, T_CLDCW-1, T_CLDNW-1, T_CLDSW-1, T_COCK-1, T_COCK-2, T_COCK-3, T_COCK-4, T_COCKD-1, T_COUWW-1, T_CRGHD-1, T_CRGHW-1, T_CRMLD-1, T_CRMLW-1, T_CRUA-1, T_CRUA-2, T_CRUA-3, T_CRUA-4, T_CRUAD-1, T_CRYRD-2, T_CRYRW-2, T_CRYRW-3, T_DEAND-1, T_DNLWW-1, T_DOREW-1, T_DOREW-2, T_DRSLW-1, T_DUNGW-1, T_EDINW-1, T_ERRO-1, T_ERRO-2, T_ERRO-3, T_EWHLW-1, T_FALGD-1, T_FALGW-1, T_FARR-1, ...]
Index: []

[0 rows x 166 columns]

In [ ]:
# search BOAV data to figure out what's happening with Peterhead values
filenames = df.get_tibco_daily_filenames(dt.date(2017,3,20), dt.date(2017,3,20))

for filename in filenames:
    file = gzip.open('/home/graeme/ElexonData/Unprocessed/' + filename, 'rb')
    file_content = file.read().decode('utf-8', 'ignore')
    file_rows = [entry for entry in file_content.split('}')]
    count = 0
    for message in file_rows:
        if len(message.strip()) > 0:
            message_dict = uf.message_to_dict(message+'}')
            if message_dict['message_subtype'] == 'BOAV':
                if message_dict['bmu_id'] in ['T_PEHE-1'] and message_dict['SP']==17:
                    print(message_dict)      
            count += 1
    file.close()

In [31]:
# calculate cashflow by settlement period
combined_cashflows = blank_df.copy()

cashflows_query = 'SELECT sd, sp, sum(oc)-sum(bc) as cashflow \
FROM public.bmra_ebocf \
where bmu_id=\'%s\' \
group by sd, sp \
order by sd, sp;'

for bmu_id in bmu_ids:
    sql_df = pd.read_sql(cashflows_query % (bmu_id), conn)
    sql_df = sql_df.set_index(['sd', 'sp'])
    sql_df.rename(columns={'cashflow': bmu_id}, inplace=True)
    combined_cashflows.update(sql_df)

combined_cashflows.to_csv('~/scotgov_analysis_190718/cashflows.csv')

In [54]:
# retrieve periods where acceptances 'potentially impacted by transmission constraints'
transmission_constraints = blank_df.copy()

trans_query = 'SELECT ts \
FROM public.bmra_boalf \
where bmu_id=\'%s\' \
and so=true \
order by ta;'

for bmu_id in bmu_ids:
    sql_df = pd.read_sql(trans_query % (bmu_id), conn)
    new_data = None
    for ts in sql_df['ts'].dt.tz_localize(tz='Europe/London').values:
        sd, sp = dt_to_sp(pd.Timestamp(ts))
        if new_data is None:
            new_data = np.array([[sd, sp, 1]])
        else:
            np.append(new_data,[sd, sp, 1])
    new_data_df = pd.DataFrame(new_data, columns=['sd', 'sp', bmu_id])
    new_data_df = new_data_df.set_index(['sd', 'sp'])
    transmission_constraints.update(new_data)

ValueError: Tz-aware datetime.datetime cannot be converted to datetime64 unless utc=True

In [21]:
bmus['GSP Group Name'].unique()

array(['Eastern GSP Group', 'East Midlands', 'LE Distribution',
       'Merseyside and North Wales', 'Midlands', 'NORTHERN',
       'North Western', 'Southern', 'South Eastern', 'South Wales',
       'South Western', 'Yorkshire Electricity', 'SOUTH of SCOTLAND GSP',
       'NORTH of SCOTLAND GSP', nan, 'SCOTLAND'], dtype=object)