In [11]:
import sys
sys.path.append("/home/graeme")

In [13]:
import psycopg2
import pandas as pd
import datetime as dt
import gzip
import numpy as np
import pytz
import math
#from ElexonDataManager.BMRA.management.commands import _upload_functions as uf
#from ElexonDataManager.BMRA.management.commands import _download_functions as df
from ElexonDataManager.settings import DATABASES

In [14]:
sys.path

['/home/graeme/ElexonDataManager/notebooks',
 '/home/graeme/anaconda3/lib/python37.zip',
 '/home/graeme/anaconda3/lib/python3.7',
 '/home/graeme/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/home/graeme/anaconda3/lib/python3.7/site-packages',
 '/home/graeme/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/home/graeme/.ipython',
 '../',
 '/home/graeme/ElexonDataManager',
 '/home/graeme',
 '/home/graeme']

In [15]:
start_date, end_date = dt.date(2017,1,1), dt.date(2019,4,1)
transition_days = [dt.date(x.year, x.month, x.day) for x in pytz.timezone('Europe/London')._utc_transition_times]

In [3]:
P114_df = pd.read_csv('/home/graeme/Downloads/C0421_scotland_df.csv')

KeyboardInterrupt:

In [17]:
bmus = pd.read_csv('/home/graeme/ElexonDataManager/Physical/unit_data/reg_bm_units.csv')

In [18]:
gsp_groups = ['SCOTLAND', 'NORTH of SCOTLAND GSP', 'SOUTH of SCOTLAND GSP']
bmu_ids = list(bmus[bmus['GSP Group Name'].isin(gsp_groups)][~bmus['BM Unit ID'].str.contains('__')]['BM Unit ID'])
bmu_ids

/home/graeme/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

['E_ABRTW-1',
 'E_AIRSW-1',
 'E_ASHWW-1',
 'E_ASLVW-1',
 'E_BABAW-1',
 'E_BETHW-1',
 'E_BNWKW-1',
 'E_BRDUW-1',
 'E_BRNLW-1',
 'E_BROXES-1',
 'E_BRYBW-1',
 'E_BTUIW-2',
 'E_CLAC-1',
 'E_CLDRW-1',
 'E_CLFLW-1',
 'E_CNCLW-1',
 'E_CRGTW-1',
 'E_DALSW-1',
 'E_FASN-3',
 'E_FASN-4',
 'E_GDSTW-1',
 'E_GLCHW-1',
 'E_GLNDOD1',
 'E_GLOFW-1',
 'E_HBHDW-1',
 'E_HLGLW-1',
 'E_HLTWW-1',
 'E_HRHLW-1',
 'E_HUNB-11S',
 'E_HYWDW-1',
 'E_KINCW-1',
 'E_MARK-1',
 'E_MINSW-1',
 'E_MOYEW-1',
 'E_TLYMW-1',
 'E_TULWW-1',
 'E_TULWW-2',
 'M_CAS-BEU01',
 'M_CAS-CLU01',
 'M_CAS-CON01',
 'M_CAS-GAR01',
 'M_CAS-KIL01',
 'M_CAS-MOR01',
 'M_SLOY-1',
 'M_SLOY-4',
 'T_ABRBO-1',
 'T_ACHRW-1',
 'T_AFTOW-1',
 'T_ANSUW-1',
 'T_ARCHW-1',
 'T_BDCHW-1',
 'T_BEATD-1',
 'T_BEATO-1',
 'T_BEATO-2',
 'T_BEATO-3',
 'T_BEATO-4',
 'T_BEINW-1',
 'T_BHLAW-1',
 'T_BLKWW-1',
 'T_BLLA-1',
 'T_BLLA-2',
 'T_BPGRD-1',
 'T_BPGRD-2',
 'T_CGTHW-1',
 'T_CLACD-1',
 'T_CLDCW-1',
 'T_CLDNW-1',
 'T_CLDSW-1',
 'T_COCK-1',
 'T_COCK-2',
 'T_COCK-3',
 'T_COCK-4',
 'T_COCKD-1',
 'T_COUWW-1',
 'T_CRGHD-1',
 'T_CRGHW-1',
 'T_CRMLD-1',
 'T_CRMLW-1',
 'T_CRUA-1',
 'T_CRUA-2',
 'T_CRUA-3',
 'T_CRUA-4',
 'T_CRUAD-1',
 'T_CRYRD-2',
 'T_CRYRW-2',
 'T_CRYRW-3',
 'T_DEAND-1',
 'T_DNLWW-1',
 'T_DOREW-1',
 'T_DOREW-2',
 'T_DRSLW-1',
 'T_DUNGW-1',
 'T_EDINW-1',
 'T_ERRO-1',
 'T_ERRO-2',
 'T_ERRO-3',
 'T_EWHLW-1',
 'T_FALGD-1',
 'T_FALGW-1',
 'T_FARR-1',
 'T_FARR-2',
 'T_FASN-1',
 'T_FASN-2',
 'T_FINL-1',
 'T_FOYE-1',
 'T_FOYE-2',
 'T_FOYED-1',
 'T_FSDLW-1',
 'T_GLEND-1',
 'T_GLNDO-1',
 'T_GLNDOD1',
 'T_GLWSW-1',
 'T_GNAPW-1',
 'T_GORDD-1',
 'T_GORDW-1',
 'T_GRIFW-1',
 'T_GRIFW-2',
 'T_GRIFWD-1',
 'T_GRMO-1',
 'T_HADHW-1',
 'T_HRSTW-1',
 'T_HUNB-7',
 'T_HUNB-8',
 'T_HUNB-D',
 'T_INGAD-1',
 'T_KILBWD-1',
 'T_KLGLW-1',
 'T_KPMRW-1',
 'T_KTHLW-1',
 'T_LCLTW-1',
 'T_LOAN-1',
 'T_LOAN-2',
 'T_LOAN-3',
 'T_LOAN-4',
 'T_LOAND-1',
 'T_LOAND-2',
 'T_LUICD-1',
 'T_MEADD-1',
 'T_MIDMW-1',
 'T_MILWW-1',
 'T_MILWWD-1',
 'T_MKHLW-1',
 'T_MYGPW-1',
 'T_NANT-1',
 'T_PEHE-1',
 'T_PEHE-2',
 'T_PEHED-1',
 'T_PGBIW-1',
 'T_SANQD-1',
 'T_SANQW-1',
 'T_SFGSD-1',
 'T_SFGSD-2',
 'T_SFILD-1',
 'T_SLOY-2',
 'T_SLOY-3',
 'T_SLOYD-1',
 'T_STFERGD-1',
 'T_STLGW-1',
 'T_STLGW-2',
 'T_STLGW-3',
 'T_STRNW-1',
 'T_TORN-1',
 'T_TORN-2',
 'T_TORN-D',
 'T_WHILW-1',
 'T_WHILW-2']

In [21]:
conn = psycopg2.connect("dbname='ElexonData' user={} host={} password={}".format(DATABASES['default']['USER'],
                                                                                DATABASES['default']['HOST'],
                                                                                DATABASES['default']['PASSWORD']))
cur = conn.cursor()

In [23]:
combined_BAVs = pd.DataFrame(columns = ['sd', 'sp'])
curr_date = start_date
while curr_date <= end_date:
    curr_sp = 1
    if curr_date in transition_days[::2]:
        max_sp = 46
    elif curr_date in transition_days[1::2]:
        max_sp = 50
    else:
        max_sp = 48
    while curr_sp <= max_sp:
        new_data = pd.DataFrame([[curr_date, curr_sp]], columns = ['sd', 'sp'])
        combined_BAVs = combined_BAVs.append(new_data)
        curr_sp += 1
    curr_date += dt.timedelta(days=1)
    
combined_BAVs = combined_BAVs.set_index(['sd', 'sp'])

bav_query = 'SELECT sd, sp, sum(bmra_boav.bv) \
FROM public.bmra_boav \
where bmra_boav.bmu_id=\'%s\' \
group by sd, sp \
order by sd, sp'

for bmu_id in bmu_ids:
    sql_df = pd.read_sql(bav_query % bmu_id, conn)
    sql_df = sql_df.set_index(['sd', 'sp'])
    combined_BAVs[bmu_id] = sql_df

combined_BAVs.to_csv('~/scotgov_analysis_190304/new_BAVs_2.csv')

In [24]:
combined_OAVs = pd.DataFrame(columns = ['sd', 'sp'])
curr_date = start_date
while curr_date <= end_date:
    curr_sp = 1
    if curr_date in transition_days[::2]:
        max_sp = 46
    elif curr_date in transition_days[1::2]:
        max_sp = 50
    else:
        max_sp = 48
    while curr_sp <= max_sp:
        new_data = pd.DataFrame([[curr_date, curr_sp]], columns = ['sd', 'sp'])
        combined_OAVs = combined_OAVs.append(new_data)
        curr_sp += 1
    curr_date += dt.timedelta(days=1)
    
combined_OAVs = combined_OAVs.set_index(['sd', 'sp'])

oav_query = 'SELECT sd, sp, sum(bmra_boav.ov) \
FROM public.bmra_boav \
where bmra_boav.bmu_id=\'%s\' \
group by sd, sp \
order by sd, sp'

for bmu_id in bmu_ids:
    sql_df = pd.read_sql(oav_query % bmu_id, conn)
    sql_df = sql_df.set_index(['sd', 'sp'])
    combined_OAVs[bmu_id] = sql_df

combined_OAVs.to_csv('~/scotgov_analysis_190304/new_OAVs_2.csv')

In [25]:
combined_FPNs = pd.DataFrame(columns = ['sd', 'sp'])
curr_date = start_date
while curr_date <= end_date:
    curr_sp = 1
    if curr_date in transition_days[::2]:
        max_sp = 46
    elif curr_date in transition_days[1::2]:
        max_sp = 50
    else:
        max_sp = 48
    while curr_sp <= max_sp:
        new_data = pd.DataFrame([[curr_date, curr_sp]], columns = ['sd', 'sp'])
        combined_FPNs = combined_FPNs.append(new_data)
        curr_sp += 1
    curr_date += dt.timedelta(days=1)
    
combined_FPNs = combined_FPNs.set_index(['sd', 'sp'])
for bmu_id in bmu_ids:
    combined_FPNs[bmu_id] = np.nan

query = 'SELECT sd, sp, bmra_fpnlevel.ts, vp \
FROM public.bmra_fpnlevel \
left join public.bmra_fpn \
on bmra_fpnlevel.fpn_id = bmra_fpn.id \
where bmra_fpn.bmu_id=\'%s\' \
order by sd, sp, bmra_fpnlevel.ts'

for bmu_id in bmu_ids:
    bmu_fpns = []
    print(bmu_id)
    df = pd.read_sql(query % bmu_id, conn)
    prev_SD, prev_SP, prev_VP, prev_TS = None, None, None, None
    total_mwh = 0.0
    for key, values in df.iterrows():
        SD, SP, TS, VP = values['sd'], values['sp'], values['ts'], values['vp']
        if SD==prev_SD and SP==prev_SP: 
            time_diff = (TS - prev_TS).total_seconds() / 3600.0
            total_mwh += (prev_VP * time_diff + (0.5 * (VP - prev_VP) * time_diff))
        elif prev_SD is not None and prev_SP is not None:
            bmu_fpns.append([dt.date(prev_SD.year,prev_SD.month,prev_SD.day),prev_SP,total_mwh])
            total_mwh = 0.0
        prev_SD, prev_SP, prev_VP, prev_TS = SD, SP, VP, TS
    new_data = pd.DataFrame(bmu_fpns, columns=['sd', 'sp', bmu_id])
    new_data = new_data.set_index(['sd', 'sp'])
    combined_FPNs.update(new_data)
    
combined_FPNs.to_csv('~/scotgov_analysis_190304/new_FPNs_2.csv')

E_ABRTW-1
E_AIRSW-1
E_ASHWW-1
E_ASLVW-1
E_BABAW-1
E_BETHW-1
E_BNWKW-1
E_BRDUW-1
E_BRNLW-1
E_BROXES-1
E_BRYBW-1
E_BTUIW-2
E_CLAC-1
E_CLDRW-1
E_CLFLW-1
E_CNCLW-1
E_CRGTW-1
E_DALSW-1
E_FASN-3
E_FASN-4
E_GDSTW-1
E_GLCHW-1
E_GLNDOD1
E_GLOFW-1
E_HBHDW-1
E_HLGLW-1
E_HLTWW-1
E_HRHLW-1
E_HUNB-11S
E_HYWDW-1
E_KINCW-1
E_MARK-1
E_MINSW-1
E_MOYEW-1
E_TLYMW-1
E_TULWW-1
E_TULWW-2
M_CAS-BEU01
M_CAS-CLU01
M_CAS-CON01
M_CAS-GAR01
M_CAS-KIL01
M_CAS-MOR01
M_SLOY-1
M_SLOY-4
T_ABRBO-1
T_ACHRW-1
T_AFTOW-1
T_ANSUW-1
T_ARCHW-1
T_BDCHW-1
T_BEATD-1
T_BEATO-1
T_BEATO-2
T_BEATO-3
T_BEATO-4
T_BEINW-1
T_BHLAW-1
T_BLKWW-1
T_BLLA-1
T_BLLA-2
T_BPGRD-1
T_BPGRD-2
T_CGTHW-1
T_CLACD-1
T_CLDCW-1
T_CLDNW-1
T_CLDSW-1
T_COCK-1
T_COCK-2
T_COCK-3
T_COCK-4
T_COCKD-1
T_COUWW-1
T_CRGHD-1
T_CRGHW-1
T_CRMLD-1
T_CRMLW-1
T_CRUA-1
T_CRUA-2
T_CRUA-3
T_CRUA-4
T_CRUAD-1
T_CRYRD-2
T_CRYRW-2
T_CRYRW-3
T_DEAND-1
T_DNLWW-1
T_DOREW-1
T_DOREW-2
T_DRSLW-1
T_DUNGW-1
T_EDINW-1
T_ERRO-1
T_ERRO-2
T_ERRO-3
T_EWHLW-1
T_FALGD-1
T_FALGW-1
T_FARR-1
T_FARR-2
T_FASN-1
T_FASN-2
T_FINL-1
T_FOYE-1
T_FOYE-2
T_FOYED-1
T_FSDLW-1
T_GLEND-1
T_GLNDO-1
T_GLNDOD1
T_GLWSW-1
T_GNAPW-1
T_GORDD-1
T_GORDW-1
T_GRIFW-1
T_GRIFW-2
T_GRIFWD-1
T_GRMO-1
T_HADHW-1
T_HRSTW-1
T_HUNB-7
T_HUNB-8
T_HUNB-D
T_INGAD-1
T_KILBWD-1
T_KLGLW-1
T_KPMRW-1
T_KTHLW-1
T_LCLTW-1
T_LOAN-1
T_LOAN-2
T_LOAN-3
T_LOAN-4
T_LOAND-1
T_LOAND-2
T_LUICD-1
T_MEADD-1
T_MIDMW-1
T_MILWW-1
T_MILWWD-1
T_MKHLW-1
T_MYGPW-1
T_NANT-1
T_PEHE-1
T_PEHE-2
T_PEHED-1
T_PGBIW-1
T_SANQD-1
T_SANQW-1
T_SFGSD-1
T_SFGSD-2
T_SFILD-1
T_SLOY-2
T_SLOY-3
T_SLOYD-1
T_STFERGD-1
T_STLGW-1
T_STLGW-2
T_STLGW-3
T_STRNW-1
T_TORN-1
T_TORN-2
T_TORN-D
T_WHILW-1
T_WHILW-2

In [26]:
combined_MELs = pd.DataFrame(columns = ['sd', 'sp'])
curr_date = start_date
while curr_date <= end_date:
    curr_sp = 1
    if curr_date in transition_days[::2]:
        max_sp = 46
    elif curr_date in transition_days[1::2]:
        max_sp = 50
    else:
        max_sp = 48
    while curr_sp <= max_sp:
        new_data = pd.DataFrame([[curr_date, curr_sp]], columns = ['sd', 'sp'])
        combined_MELs = combined_MELs.append(new_data)
        curr_sp += 1
    curr_date += dt.timedelta(days=1)
    
combined_MELs = combined_MELs.set_index(['sd', 'sp'])
for bmu_id in bmu_ids:
    combined_MELs[bmu_id] = np.nan

query = 'SELECT bmra_mel.ts as tsr, sd, sp, bmra_mellevel.ts, ve \
FROM public.bmra_mellevel \
left join public.bmra_mel \
on bmra_mellevel.mel_id = bmra_mel.id \
where bmra_mel.bmu_id=\'%s\' \
order by sd, sp, bmra_mel.ts desc, bmra_mellevel.ts'

for bmu_id in bmu_ids:
    bmu_mels = []
    print(bmu_id)
    df = pd.read_sql(query % bmu_id, conn)
    prev_SD, prev_SP, prev_VP, prev_TS, prev_TSR, last_msg_time = None, None, None, None, None, None
    total_mwh, total_time = 0.0, 0.0
    for key, values in df.iterrows():
        SD, SP, TS, VP, TSR = values['sd'], values['sp'], values['ts'], values['ve'], values['tsr']
        if SD==prev_SD and SP==prev_SP: 
            if TSR==last_msg_time: 
                time_diff = (TS - prev_TS).total_seconds() / 3600.0
                total_mwh += (prev_VP * time_diff + (0.5 * (VP - prev_VP) * time_diff))
                total_time += time_diff
        elif prev_SD is not None and prev_SP is not None:
            bmu_mels.append([dt.date(prev_SD.year,prev_SD.month,prev_SD.day),prev_SP,total_mwh])
            if not math.isclose(0.5, total_time, rel_tol=1e-5):
                print(prev_SD, prev_SP)
                print('total time duration: {:+06.2f}'.format(total_time))
            total_mwh, total_time = 0.0, 0.0
            last_msg_time = values['tsr']
        prev_SD, prev_SP, prev_VP, prev_TS = SD, SP, VP, TS
    new_data = pd.DataFrame(bmu_mels, columns=['sd', 'sp', bmu_id])
    new_data = new_data.set_index(['sd', 'sp'])
    combined_MELs.update(new_data)
    

combined_MELs.to_csv('~/scotgov_analysis_190304/new_MELs_2.csv')

E_ABRTW-1
2017-02-20 1
total time duration: +00.00
E_AIRSW-1
2017-03-01 1
total time duration: +00.00
E_ASHWW-1
2016-12-29 5
total time duration: +00.00
E_ASLVW-1
2016-12-29 5
total time duration: +00.00
E_BABAW-1
2016-12-29 5
total time duration: +00.00
E_BETHW-1
2016-12-29 5
total time duration: +00.00
E_BNWKW-1
2017-03-24 1
total time duration: +00.00
E_BRDUW-1
2016-12-29 5
total time duration: +00.00
E_BRNLW-1
2017-04-06 33
total time duration: +00.00
E_BROXES-1
E_BRYBW-1
2016-12-29 5
total time duration: +00.00
E_BTUIW-2
2016-12-29 5
total time duration: +00.00
E_CLAC-1
2016-12-29 5
total time duration: +00.00
2018-03-20 37
total time duration: +00.37
2018-03-22 37
total time duration: +00.37
2018-03-23 33
total time duration: +00.28
2018-03-26 38
total time duration: +00.47
2018-03-27 38
total time duration: +00.48
2018-04-08 16
total time duration: +00.45
2018-04-09 36
total time duration: +00.38
2018-04-10 36
total time duration: +00.43
2018-04-11 16
total time duration: +00.32
2018-04-18 37
total time duration: +00.17
2018-04-18 38
total time duration: +00.47
2018-04-19 36
total time duration: +00.18
2018-04-19 37
total time duration: +00.37
2018-04-20 17
total time duration: +00.05
2018-04-20 38
total time duration: +00.48
E_CLDRW-1
2016-12-29 5
total time duration: +00.00
E_CLFLW-1
2016-12-29 5
total time duration: +00.00
E_CNCLW-1
2018-12-14 1
total time duration: +00.00
E_CRGTW-1
2018-06-14 22
total time duration: +00.00
E_DALSW-1
2016-12-29 5
total time duration: +00.00
E_FASN-3
2016-12-29 5
total time duration: +00.00
2018-04-08 35
total time duration: +00.10
2018-04-20 34
total time duration: +00.10
E_FASN-4
2016-12-29 5
total time duration: +00.00
E_GDSTW-1
2016-12-29 5
total time duration: +00.00
E_GLCHW-1
2016-12-29 5
total time duration: +00.00
E_GLNDOD1
E_GLOFW-1
2016-12-29 5
total time duration: +00.00
E_HBHDW-1
2016-12-29 5
total time duration: +00.00
E_HLGLW-1
2017-04-06 33
total time duration: +00.00
E_HLTWW-1
2016-12-29 5
total time duration: +00.00
E_HRHLW-1
2016-12-29 5
total time duration: +00.00
E_HUNB-11S
E_HYWDW-1
2017-08-14 1
total time duration: +00.00
E_KINCW-1
2018-08-30 1
total time duration: +00.00
E_MARK-1
2016-12-29 5
total time duration: +00.00
2018-03-17 25
total time duration: +00.17
2018-03-17 39
total time duration: +00.35
2018-03-19 29
total time duration: +00.45
2018-04-01 22
total time duration: +00.18
2018-04-01 48
total time duration: +00.15
2018-04-03 1
total time duration: +00.23
2018-04-03 15
total time duration: +00.22
2018-04-03 44
total time duration: +00.40
2018-04-03 45
total time duration: +00.48
2018-04-03 46
total time duration: +00.02
2018-04-03 48
total time duration: +00.40
2018-04-04 1
total time duration: +00.17
2018-04-04 3
total time duration: +00.02
2018-04-04 5
total time duration: +00.32
2018-04-04 7
total time duration: +00.35
2018-04-04 9
total time duration: +00.45
2018-04-04 11
total time duration: +00.48
2018-04-04 12
total time duration: +00.12
2018-04-04 20
total time duration: +00.08
2018-04-04 21
total time duration: +00.27
2018-04-04 22
total time duration: +00.23
2018-04-04 23
total time duration: +00.42
2018-04-04 26
total time duration: +00.47
2018-04-04 27
total time duration: +00.05
2018-05-21 42
total time duration: +00.25
2018-06-03 24
total time duration: +00.25
2018-06-15 30
total time duration: +00.47
2019-01-10 28
total time duration: +00.45
E_MINSW-1
2016-12-29 5
total time duration: +00.00
E_MOYEW-1
2016-12-29 5
total time duration: +00.00
E_TLYMW-1
2018-05-15 1
total time duration: +00.00
E_TULWW-1
2017-04-10 1
total time duration: +00.00
E_TULWW-2
2016-12-29 5
total time duration: +00.00
M_CAS-BEU01
2016-12-29 5
total time duration: +00.00
2018-02-26 20
total time duration: +00.47
M_CAS-CLU01
2016-12-29 5
total time duration: +00.00
2018-03-05 1
total time duration: +00.30
2018-03-28 6
total time duration: +00.40
2018-04-08 20
total time duration: +00.37
2018-04-10 34
total time duration: +00.38
2018-09-28 31
total time duration: +00.10
M_CAS-CON01
2016-12-29 5
total time duration: +00.00
2018-03-25 35
total time duration: +00.37
2018-03-29 14
total time duration: +00.05
2018-04-02 37
total time duration: +00.33
2018-04-04 30
total time duration: +00.20
2018-04-15 34
total time duration: +00.35
M_CAS-GAR01
2016-12-29 5
total time duration: +00.00
2018-03-29 35
total time duration: +00.42
2018-03-30 37
total time duration: +00.47
M_CAS-KIL01
2016-12-29 5
total time duration: +00.00
2018-03-30 19
total time duration: +00.25
2018-04-07 20
total time duration: +00.12
2018-04-08 21
total time duration: +00.25
2018-04-12 38
total time duration: +00.38
M_CAS-MOR01
2016-12-29 5
total time duration: +00.00
2018-04-04 20
total time duration: +00.45
M_SLOY-1
2016-12-29 5
total time duration: +00.00
2018-04-09 28
total time duration: +00.45
M_SLOY-4
2016-12-29 5
total time duration: +00.00
2018-04-19 38
total time duration: +00.15
T_ABRBO-1
2018-03-13 23
total time duration: +00.00
T_ACHRW-1
2016-12-29 5
total time duration: +00.00
T_AFTOW-1
2018-03-01 33
total time duration: +00.00
T_ANSUW-1
2016-12-29 5
total time duration: +00.00
T_ARCHW-1
2016-12-29 5
total time duration: +00.00
T_BDCHW-1
2018-08-21 1
total time duration: +00.00
T_BEATD-1
T_BEATO-1
2018-06-29 1
total time duration: +00.00
T_BEATO-2
2018-07-17 37
total time duration: +00.00
T_BEATO-3
2018-06-29 1
total time duration: +00.00
T_BEATO-4
2018-07-17 37
total time duration: +00.00
T_BEINW-1
2017-01-27 1
total time duration: +00.00
T_BHLAW-1
2017-03-06 1
total time duration: +00.00
2018-04-03 24
total time duration: +00.17
2018-04-04 22
total time duration: +00.25
2018-04-07 44
total time duration: +00.07
2018-04-09 35
total time duration: +00.15
T_BLKWW-1
2018-01-15 1
total time duration: +00.00
T_BLLA-1
2016-12-29 5
total time duration: +00.00
T_BLLA-2
2016-12-29 5
total time duration: +00.00
T_BPGRD-1
2016-12-29 5
total time duration: +00.00
T_BPGRD-2
2016-12-29 5
total time duration: +00.00
T_CGTHW-1
2016-12-29 5
total time duration: +00.00
T_CLACD-1
T_CLDCW-1
2016-12-29 5
total time duration: +00.00
T_CLDNW-1
2016-12-29 5
total time duration: +00.00
T_CLDSW-1
2016-12-29 5
total time duration: +00.00
T_COCK-1
T_COCK-2
T_COCK-3
T_COCK-4
T_COCKD-1
2016-12-29 5
total time duration: +00.00
T_COUWW-1
2016-12-29 5
total time duration: +00.00
T_CRGHD-1
T_CRGHW-1
2016-12-29 5
total time duration: +00.00
T_CRMLD-1
T_CRMLW-1
2016-12-29 5
total time duration: +00.00
T_CRUA-1
2016-12-29 5
total time duration: +00.00
T_CRUA-2
2016-12-29 5
total time duration: +00.00
T_CRUA-3
2016-12-29 5
total time duration: +00.00
T_CRUA-4
2016-12-29 5
total time duration: +00.00
T_CRUAD-1
2016-12-29 5
total time duration: +00.00
T_CRYRD-2
T_CRYRW-2
2016-12-29 5
total time duration: +00.00
T_CRYRW-3
2016-12-29 5
total time duration: +00.00
T_DEAND-1
T_DNLWW-1
2016-12-29 5
total time duration: +00.00
T_DOREW-1
2018-06-29 1
total time duration: +00.00
T_DOREW-2
2018-06-29 1
total time duration: +00.00
T_DRSLW-1
2016-12-29 5
total time duration: +00.00
T_DUNGW-1
2016-12-29 5
total time duration: +00.00
T_EDINW-1
2016-12-29 5
total time duration: +00.00
T_ERRO-1
2016-12-29 5
total time duration: +00.00
T_ERRO-2
2016-12-29 5
total time duration: +00.00
T_ERRO-3
2016-12-29 5
total time duration: +00.00
T_EWHLW-1
2016-12-29 5
total time duration: +00.00
T_FALGD-1
T_FALGW-1
2016-12-29 5
total time duration: +00.00
T_FARR-1
2016-12-29 5
total time duration: +00.00
T_FARR-2
2016-12-29 5
total time duration: +00.00
T_FASN-1
2016-12-29 5
total time duration: +00.00
2018-03-14 30
total time duration: +00.32
2018-04-17 19
total time duration: +00.25
T_FASN-2
2016-12-29 5
total time duration: +00.00
2018-04-10 20
total time duration: +00.43
T_FINL-1
2016-12-29 5
total time duration: +00.00
T_FOYE-1
2016-12-29 5
total time duration: +00.00
2018-04-02 46
total time duration: +00.12
2018-04-02 47
total time duration: +00.07
T_FOYE-2
2016-12-29 5
total time duration: +00.00
T_FOYED-1
2016-12-29 5
total time duration: +00.00
T_FSDLW-1
2017-01-26 1
total time duration: +00.00
T_GLEND-1
T_GLNDO-1
2016-12-29 5
total time duration: +00.00
2018-03-26 24
total time duration: +00.32
T_GLNDOD1
T_GLWSW-1
2016-12-29 5
total time duration: +00.00

T_GNAPW-1
2016-12-29 5
total time duration: +00.00
T_GORDD-1
T_GORDW-1
2016-12-29 5
total time duration: +00.00
T_GRIFW-1
2016-12-29 5
total time duration: +00.00
2018-04-12 30
total time duration: +00.45
T_GRIFW-2
2016-12-29 5
total time duration: +00.00
T_GRIFWD-1
T_GRMO-1
2016-12-29 5
total time duration: +00.00
T_HADHW-1
2016-12-29 5
total time duration: +00.00
T_HRSTW-1
2016-12-29 5
total time duration: +00.00
T_HUNB-7
2016-12-29 5
total time duration: +00.00
2018-03-09 37
total time duration: +00.48
T_HUNB-8
2016-12-29 5
total time duration: +00.00
2018-02-21 43
total time duration: +00.33
2018-02-22 8
total time duration: +00.22
2018-02-22 21
total time duration: +00.22
2018-03-27 8
total time duration: +00.47
2018-04-16 26
total time duration: +00.17
2018-04-16 48
total time duration: +00.22
2018-04-17 4
total time duration: +00.08
2018-04-17 12
total time duration: +00.42
2018-04-17 17
total time duration: +00.08
2018-04-17 31
total time duration: +00.33
2018-04-17 40
total time duration: +00.08
2018-04-18 33
total time duration: +00.33
2018-04-19 11
total time duration: +00.33
2018-04-19 12
total time duration: +00.42
2018-04-19 13
total time duration: +00.42
2018-04-19 27
total time duration: +00.43
2018-04-19 31
total time duration: +00.27
2018-04-20 8
total time duration: +00.42
2018-04-20 14
total time duration: +00.05
2018-08-24 6
total time duration: +00.42
T_HUNB-D
2016-12-29 5
total time duration: +00.00
T_INGAD-1
T_KILBWD-1
T_KLGLW-1
2016-12-29 5
total time duration: +00.00
2018-04-06 40
total time duration: +00.28
2018-04-20 16
total time duration: +00.47
T_KPMRW-1
2018-10-12 1
total time duration: +00.00
T_KTHLW-1
2017-10-26 1
total time duration: +00.00
T_LCLTW-1
2016-12-29 5
total time duration: +00.00
T_LOAN-1
2016-12-29 5
total time duration: +00.00
T_LOAN-2
2016-12-29 5
total time duration: +00.00
T_LOAN-3
2016-12-29 5
total time duration: +00.00
T_LOAN-4
2016-12-29 5
total time duration: +00.00
T_LOAND-1
2016-12-29 5
total time duration: +00.00
T_LOAND-2
2016-12-29 5
total time duration: +00.00
T_LUICD-1
T_MEADD-1
2016-12-29 5
total time duration: +00.00
T_MIDMW-1
2018-05-22 1
total time duration: +00.00
T_MILWW-1
2016-12-29 5
total time duration: +00.00
T_MILWWD-1
T_MKHLW-1
2016-12-29 5
total time duration: +00.00
T_MYGPW-1
2017-03-16 1
total time duration: +00.00
T_NANT-1
2016-12-29 5
total time duration: +00.00
2018-03-28 25
total time duration: +00.25
2018-04-06 14
total time duration: +00.40
T_PEHE-1
2016-12-29 5
total time duration: +00.00
2018-02-19 25
total time duration: +00.20
2018-03-26 37
total time duration: +00.18
2018-03-27 19
total time duration: +00.40
2018-03-27 20
total time duration: +00.17
2018-03-27 22
total time duration: +00.17
2018-03-27 32
total time duration: +00.12
2018-03-28 20
total time duration: +00.10
2018-03-28 35
total time duration: +00.23
2018-03-28 36
total time duration: +00.25
2018-03-28 40
total time duration: +00.18
2018-03-28 41
total time duration: +00.13
2018-03-30 20
total time duration: +00.23
2018-03-30 25
total time duration: +00.05
2018-03-30 26
total time duration: +00.33
2018-03-31 13
total time duration: +00.17
2018-03-31 17
total time duration: +00.07
2018-03-31 47
total time duration: +00.48
2018-04-03 45
total time duration: +00.43
2018-04-04 14
total time duration: +00.45
2018-04-08 30
total time duration: +00.33
2018-04-19 24
total time duration: +00.33
2018-04-19 34
total time duration: +00.20
2018-04-19 35
total time duration: +00.33
2018-04-19 36
total time duration: +00.33
2018-04-20 48
total time duration: +00.27
T_PEHE-2
2016-12-29 5
total time duration: +00.00
T_PEHED-1
2016-12-29 5
total time duration: +00.00
T_PGBIW-1
2018-08-17 1
total time duration: +00.00
T_SANQD-1
T_SANQW-1
2018-01-24 1
total time duration: +00.00
T_SFGSD-1
2016-12-29 5
total time duration: +00.00
T_SFGSD-2
2016-12-29 5
total time duration: +00.00
T_SFILD-1
T_SLOY-2
2016-12-29 5
total time duration: +00.00
T_SLOY-3
2016-12-29 5
total time duration: +00.00
2018-04-12 18
total time duration: +00.43
2018-04-12 19
total time duration: +00.37
2018-04-21 39
total time duration: +00.17
2018-04-21 40
total time duration: +00.25
2018-04-21 41
total time duration: +00.32
2018-04-21 42
total time duration: +00.13
T_SLOYD-1
T_STFERGD-1
2016-12-29 5
total time duration: +00.00
T_STLGW-1
2018-03-21 1
total time duration: +00.00
T_STLGW-2
2018-03-21 1
total time duration: +00.00
T_STLGW-3
2018-03-21 1
total time duration: +00.00
T_STRNW-1
2016-12-29 5
total time duration: +00.00
T_TORN-1
2016-12-29 5
total time duration: +00.00
2018-03-05 1
total time duration: +00.48
2018-03-21 43
total time duration: +00.17
2018-03-24 6
total time duration: +00.17
2018-04-21 43
total time duration: +00.18
2018-05-27 23
total time duration: +00.08
2018-09-11 25
total time duration: +00.25
T_TORN-2
2016-12-29 5
total time duration: +00.00
2018-03-09 27
total time duration: +00.45
2018-04-13 2
total time duration: +00.48
T_TORN-D
2016-12-29 5
total time duration: +00.00
T_WHILW-1
2016-12-29 5
total time duration: +00.00
2018-03-25 38
total time duration: +00.28
T_WHILW-2
2016-12-29 5
total time duration: +00.00

In [20]:
new_data.loc['2017-01-07']

                 T_PEHE-1
SD         SP
2017-01-07 1   190.000000
           2   190.000000
           3   190.000000
           4   190.000000
           5   190.000000
           6   190.000000
           7   190.000000
           8   190.000000
           9   190.000000
           10  190.000000
           11  190.000000
           12  190.000000
           13  190.000000
           14  190.000000
           15  190.000000
           16  190.000000
           17  190.000000
           18  337.500000
           19  626.833333
           20  808.333333
           21  335.571417
           22  190.000000
           23  190.000000
           24  190.000000
           25  190.000000
           26  190.000000
           27  190.000000
           28  190.000000
           29  190.000000
           30  190.000000
           31  190.000000
           32  190.000000
           33  190.000000
           34  380.033333
           35  190.000000
           36  190.000000
           37  191.000000
           38  191.000000
           39  191.000000
           40  191.000000
           41  191.000000
           42  191.000000
           43  191.000000
           44  191.000000
           45  191.000000
           46  191.000000
           47  191.000000
           48  191.000000

In [ ]:
# search BOAV data to figure out what's happening with Peterhead values
filenames = df.get_tibco_daily_filenames(dt.date(2017,3,20), dt.date(2017,3,20))

for filename in filenames:
    file = gzip.open('/home/graeme/ElexonData/Unprocessed/' + filename, 'rb')
    file_content = file.read().decode('utf-8', 'ignore')
    file_rows = [entry for entry in file_content.split('}')]
    count = 0
    for message in file_rows:
        if len(message.strip()) > 0:
            message_dict = uf.message_to_dict(message+'}')
            if message_dict['message_subtype'] == 'BOAV':
                if message_dict['bmu_id'] in ['T_PEHE-1'] and message_dict['SP']==17:
                    print(message_dict)      
            count += 1
    file.close()